/**
 * SPDX-License-Identifier: GPL-3.0
 * _addText: '{{Gadget Header|license=GPL-3.0}}'
 *
 * @source <https://git.qiuwen.wiki/InterfaceAdmin/Gadgets/src/branch/master/src/Gadgets/FloatTOC>
 * @author 安忆 <i@anyi.in>
 * @dependency ext.gadget.i18n, mediawiki.notification, mediawiki.util
 */
/**
 * +--------------------------------------------------------+
 * |         === WARNING: GLOBAL GADGET FILE ===            |
 * +--------------------------------------------------------+
 * |      All changes should be made in the repository,     |
 * |              otherwise they will be lost.              |
 * +--------------------------------------------------------+
 * |        Changes to this page affect many users.         |
 * |  Please discuss changes at Talk page before editing.   |
 * +--------------------------------------------------------+
 */
/* <nowiki> */
#floatTOC {
	padding: 1em;
	cursor: auto;
}

#floatTOC .toc {
	overflow: auto;
	max-height: 80vh;
	margin: 0 auto;
}

#floatTOC #close {
	display: block;
	margin-bottom: -2rem;
	cursor: pointer;
	text-align: right;
}

@media screen and (max-width: 720px), screen and (max-height: 800px) {
	.citizen-body-header--sticky #floatToc-opener {
		top: 21%;
		right: 1rem;
	}
}

.skin-citizen #floatToc-opener span:last-child {
	color: #000;
	opacity: 0.6;
}

.skin-vector-legacy #floatTOC .toc {
	display: block;
	max-height: 90vh;
	padding-top: 1em;
	font-size: 1em;
	word-break: keep-all;
}

.skin-vector-legacy #floatTOC #close {
	margin-bottom: -1.35em;
}

.skin-vector-legacy #floatToc-opener {
	top: 2rem;
	background: #f8f9fa;
	font-size: 0.95em;
}

.ve-activated #floatToc-opener {
	display: none;
}

#mw-toc-heading{
	font-size:10px;
	font-family:Kaiti;
	font-weight: Bold;
	height:30px;
}
#toc{
	background:rgba(240,255,240,0.8);
	border-radius: 10px;
	font-size:16px;
	font-family:Kaiti;
	font-weight: Bold;
	line-height:18px;
}
.toc:not(#toc) {
	margin-top:0;
	background:rgba(240,255,240,0.6);
	border-radius: 10px;
	height: 30rem;
	font-size:16px;
	font-family:Kaiti;
	font-weight: Bold;
}
.mw-notification-noautohide{
	margin-top:50px;
	background:rgba(240,255,240,0.8);
	border-radius: 10px;
	height: 32rem;
}
#floatToc-opener{
	border-radius: 10px;
	background:#EBFFEF;
	width: 2rem;
    height:2rem;
    margin-top:27rem;
	position: fixed;
	margin-right:20rem;
	font-size:0.5rem;
    z-index: 999;
    text-align:center;
}
/* </nowiki> */
