/**
 * SPDX-License-Identifier: GPL-3.0
 * _addText: '{{Gadget Header|license=GPL-3.0}}'
 *
 * @source <https://git.qiuwen.wiki/InterfaceAdmin/Gadgets/src/branch/master/src/Gadgets/FloatTOC>
 * @author 安忆 <i@anyi.in>, 赤魇 <chiyansama@Github>
 * @dependency ext.gadget.i18n, mediawiki.notification, mediawiki.util
 */
/**
 * +--------------------------------------------------------+
 * |         === WARNING: GLOBAL GADGET FILE ===            |
 * +--------------------------------------------------------+
 * |      All changes should be made in the repository,     |
 * |              otherwise they will be lost.              |
 * +--------------------------------------------------------+
 * |        Changes to this page affect many users.         |
 * |  Please discuss changes at Talk page before editing.   |
 * +--------------------------------------------------------+
 */
/* <nowiki> */
#floatTOC {
	padding: 0.5rem;
	cursor: auto;
}

#floatTOC .toc {
	max-height: 80vh;
	padding-top: 0;
	margin: 0 auto;
	/* 赤魇重写部分 */
	margin-top: 0;
	background: rgba(240, 255, 240, 0.6);
	border-radius: 10px;
	font-size: 16px;
	font-weight: Bold;
}

.skin-vector-legacy #floatTOC .toc {
	display: block;
	max-height: 90vh;
	padding-top: 1em;
	font-size: 1em;
	word-break: normal;
}

#floatTOC ul {
	padding-right: 1rem;
}

#floatTOC .toc > ul {
	overflow: auto;
	max-height: 70vh;
	border-bottom: 1px solid #cdcdcd;
}

#floatTOC #close {
	position: relative;
	top: 1em;
	width: 1rem;
	height: 1rem;
	cursor: pointer;
	float: right;
}

#floatTOC #close:hover {
	filter: drop-shadow(0 0 1px #000);
}

.skin-vector-legacy #floatTOC #close {
	top: 0;
}

#floatToc-opener {
	position: fixed;
	z-index: 13;
	top: 10.5%;
	right: 2rem;
	display: flex;
	width: 2rem;
	height: 2rem;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
	border-radius: 25px;
	backdrop-filter: saturate(50%) blur(16px);
	background: rgb(255 255 255 / 95%);
	box-shadow: 0 0 2px 2px rgb(0 0 0 / 10%);
	cursor: pointer;
	font-size: 0.5rem;
}

@media screen and (max-width: 720px), screen and (max-height: 800px) {
	.citizen-body-header--sticky #floatToc-opener {
		top: 21%;
		right: 1rem;
	}
}

#floatToc-opener:active {
	box-shadow: inset 0 0 2px 2px rgb(0 0 0 / 10%);
}

#floatToc-opener:hover {
	box-shadow: 0 0 4px 4px rgb(0 0 0 / 10%);
}

#floatToc-opener span {
	opacity: 0.6;
}

#floatToc-opener span:first-child {
	position: relative;
	width: 2.5em;
	height: 2.5em;
}

#floatToc-opener span:last-child {
	color: #000;
}

.ve-activated #floatToc-opener {
	display: none;
}

.skin-citizen #toc .toctitle {
	display: flex;
	align-items: baseline;
	cursor: pointer;
}

.skin-citizen #toc .toctitle h2 {
	flex: 1;
}

.skin-citizen #toc .toctitle .oo-ui-indicatorElement-indicator {
	position: relative;
	margin-left: -1.125rem;
}

.skin-citizen #toc .toctitle .oo-ui-indicatorElement-indicator.collapse {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

/* </nowiki> */
