/**
 * SPDX-License-Identifier: GPL-3.0
 * _addText: '{{Gadget Header|license=GPL-3.0}}'
 *
 * @source <https://git.qiuwen.wiki/InterfaceAdmin/Gadgets/src/branch/master/src/Gadgets/FloatTOC>
 * @author 安忆 <i@anyi.in>
 * @dependency ext.gadget.i18n, mediawiki.notification
 */
/**
 * +--------------------------------------------------------+
 * |         === WARNING: GLOBAL GADGET FILE ===            |
 * +--------------------------------------------------------+
 * |      All changes should be made in the repository,     |
 * |              otherwise they will be lost.              |
 * +--------------------------------------------------------+
 * |        Changes to this page affect many users.         |
 * |  Please discuss changes at Talk page before editing.   |
 * +--------------------------------------------------------+
 */
/* <nowiki> */
#floatTOC {
	padding: 1em;
	cursor: auto;
}

#floatTOC .toc {
	overflow: auto;
	max-height: 80vh;
	margin: 0 auto;
}

#floatTOC #close {
	display: block;
	margin-bottom: -2rem;
	cursor: pointer;
	text-align: right;
}

#floatToc-opener {
	position: fixed;
	top: 10.5%;
	right: 2rem;
	display: flex;
	width: 2rem;
	height: 2rem;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
	border-radius: 25px;
	backdrop-filter: saturate(50%) blur(16px);
	background: rgb(255 255 255 / 95%);
	box-shadow: 0 0 2px 2px rgb(0 0 0 / 10%);
	cursor: pointer;
	font-size: 0.5rem;
}

@media screen and (max-width: 720px), screen and (max-height: 800px) {
	.citizen-body-header--sticky #floatToc-opener {
		top: 21%;
		right: 1rem;
	}
}

.skin-citizen #floatToc-opener span:last-child {
	color: #000;
	opacity: 0.6;
}

.skin-vector-legacy #floatTOC .toc {
	display: block;
	max-height: 90vh;
	padding-top: 1em;
	font-size: 1em;
	word-break: keep-all;
}

.skin-vector-legacy #floatTOC #close {
	margin-bottom: -1.35em;
}

.skin-vector-legacy #floatToc-opener {
	top: 2rem;
	background: #f8f9fa;
	font-size: 0.95em;
}

.ve-activated #floatToc-opener {
	display: none;
}

.floatToc,
#floatToc {
	margin-top:50px;
	background:rgba(240,255,240,0.3);
	border-radius: 10px;
	height: 450px;
	font-size:16px;
	font-family:Kaiti;
	font-weight: Bold;
}
.mw-notification-noautohide{
	margin-top:50px;
	background:rgba(240,255,240,0.8);
	border-radius: 10px;
	height: 484px;
}
#floatToc-opener{
	border-radius: 10px;
	background:#FFFFFF;
	width: 45px;
    height: 45px;
    margin-top:65px;
	position: fixed;
	right: 20px;
	font-size:13px;
    z-index: 999;
}

/* </nowiki> */
