/* <nowiki> */
/**
 * SPDX-License-Identifier: CC-BY-SA-4.0
 * _addText: '{{Gadget Header|license=CC-BY-SA-4.0}}'
 *
 * @source <zh.wikipedia.org/wiki/MediaWiki:Common.css>
 */
/* Styles for all mboxes */

.mbox {
	/* Common styles for all mboxes */
	display: flex;
	max-width: 95%;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;
	border-width: 0 0 0 5px;
	border-style: solid;
	border-radius: 5px;
	border-left-color: #36c;
	margin: 0.5em auto;
	background: #def;
	border-collapse: inherit;
}

.mbox-body {
	display: flex;
	width: 100%;
	flex-flow: row nowrap;
	align-content: center;
	align-items: center;
	justify-content: space-between;
}

.mbox-above,
.mbox-below {
	margin: auto;
}

.mbox-above {
	padding: 0.5em 0.9em 0;
}

.mbox-below {
	padding: 0 0.9em 0.5em;
}

/* Cell sizes for tmbox/fmbox message boxes */
.mbox-text {
	width: 95%; /* Make all mboxes the same width regardless of text length */
	flex: 1 1 95%;
	padding: 0.25em 0.9em; /* 0.9em left/right */
	line-height: 1.55em;
	/* The message body cell(s) */
	border: 0;
}

.mbox-image,
.mbox-imageright {
	flex: 10 0 50px;
	border: 0;
	text-align: center;
}

.mbox-image {
	/* The left image cell */
	padding: 2px 0 2px 0.9em; /* 0.9em left, 0px right */
}

.mbox-imageright {
	/* The right image cell */
	padding: 2px 0.9em 2px 0; /* 0px left, 0.9em right */
}

.mbox-image img,
.mbox-imageright img {
	max-width: 65px;
	object-fit: contain;
	text-align: center;
}

.mbox-empty-cell {
	width: 1px;
	padding: 0;
	/* An empty narrow cell */
	border: 0;
}

/* Styles per type */
.mbox-notice {
	border-left-color: #36c;
	background: #def;
}

.mbox-speedy,
.mbox.alert,
.mbox.red {
	border-left-color: #b22; /* Red */
	background: #fee; /* Pink */
}

.mbox-delete,
.mbox.tawny {
	border-left-color: #a97; /* tawny */
	background: #f0f0d8; /* light tawny */
}

.mbox-content,
.mbox.orange {
	border-left-color: #f28500; /* Orange */
	background: #fed; /* Light Orange */
}

.mbox-style,
.mbox-rule,
.mbox.rule,
.mbox.yellow {
	border-left-color: #fc3; /* Yellow */
	background: #ffc; /* Light yellow */
}

.mbox-move,
.mbox.violet,
.mbox.purple {
	border-left-color: #93c; /* Purple */
	background: #fef; /* Light purple */
}

.mbox-protection,
.mbox-draft,
.mbox.gray,
.mbox.grey {
	border-left-color: #606060; /* Dark gray */
	background: #eee; /* Light gray */
}

.mbox-featured,
.mbox.brown {
	border-left-color: #cba135; /* Brown-gold */
	background: #fec; /* light brown */
}

.mbox-policy,
.mbox.green {
	border-left-color: #181; /* Green */
	background: #cfc; /* Light green */
}

.mbox-guideline,
.mbox.blue {
	border-left-color: #36c;
	background: #def;
}

.mbox-license {
	border-width: 2px;
	border-color: #999;
}

.mbox-license,
.mbox.license-pd {
	background: #f7f8ff; /* Very light gray */
}

.mbox.license-cc {
	background: #f9f9f9; /* Very light gray */
}

.mbox.license-other {
	background: #ffe; /* Very light gray */
}

.mbox.license-free {
	background: #f3ffee; /* Very light green */
}

.mbox.license-nonfree {
	background: #fff9f9; /* Very light red */
}

.mbox.license-self {
	background: #f8f9fa; /* Very light gray */
}

.mbox .mbox-text .mbox {
	/* For mboxes inside mbox-text cells. */
	border-radius: 0;
}

.mbox.license-self .mbox-text .mbox {
	/* For mboxes inside mbox-text cells of mbox.license-self. */
	border-width: 1px;
}

.mbox-inside .mbox {
	/* For mboxes inside other templates. */
	margin: 4px;
}

/* Code for compact mbox */
/* Remove borders, backgrounds, padding, etc. */
.compact-mbox .mbox {
	display: block;
	width: auto;
	padding: 0 !important;
	border-radius: 0.2em;
	margin: 0 0 0 1.6em !important;
	background: transparent;
	border-collapse: collapse;
}

.compact-mbox .mw-collapsible-content .mbox {
	display: list-item;
	border-left: 0;
	margin-left: 1em !important;
	line-height: 1.5em;
	list-style-type: disc;
}

body.mediawiki .compact-mbox .mbox-small-left {
	width: auto;
	margin: 0;
	clear: both;
	font-size: 100%;
}

/* Style the text cell as a list item and remove its margin */
.compact-mbox div .mbox-text {
	margin: 0 !important;
}

/* Style for compact mbox */
/* Hide the images */
.compact-mbox .mbox-text .mbox-image,
.compact-mbox .mbox-text .mbox-imageright,
.compact-mbox .mbox-text .mbox-empty-cell {
	display: none;
}

/* Talk page message box styles */
.tmbox {
	background: #f8eaba;
}

.mbox-inside .tmbox.mbox-small {
	font-size: 100%; /* set in "mbox-small" above.				*/
	/* "small" tmboxes should not be small when */
	line-height: 1.5em; /* also "nested", so reset styles that are  */
}

.mediawiki .mbox-inside .tmbox {
	width: 100%; /* For Safari and Opera */
	/* For tmboxes inside other templates. The "mediawiki" */
	margin: 2px 0; /* class ensures that this declaration overrides other */
}

/* Disambig and set index box styles */
.mbox-disambig,
.mbox-setindex {
	border-width: 1px 1px 1px 5px !important;
	border-color: #ccc;
	background: #fefefe;
}

/* Footer and header message box styles */
.fmbox {
	border: 1px solid #a2a9b1;
	margin: 0.2em 0;
	background: #f8f9fa; /* Default "system" gray */
	clear: both;
}

.fmbox-system {
	background: #f8f9fa;
}

.fmbox-warning {
	border: 1px solid #bb7070; /* Dark pink */
	background: #ffdbdb; /* Pink */
}

.fmbox-editnotice {
	background: transparent;
}

/* Div based "warning" style fmbox messages. */
.mw-warning-with-logexcerpt,
.mw-lag-warn-high,
.mw-cascadeprotectedwarning,
#mw-protect-cascadeon {
	padding: 0.25em 0.9em;
	border: 1px solid #bb7070;
	margin: 0.2em 0;
	background: #ffdbdb;
	clear: both;
}

/* Div based "system" style fmbox messages. */
.fmbox-system {
	padding: 0.25em 0;
	border: 1px solid #a2a9b1;
	margin: 0.2em 0;
	background: #f8f9fa;
	clear: both;
}

/* These mbox-small classes must be placed after all other
   tmbox etc classes. "body.mediawiki" is so. */
body.mediawiki .mbox-small {
	max-width: 320px;
	margin: 4px 0 4px 1em !important;
	/* For the "small=yes" option. */
	clear: both;
	float: right;
	font-size: 88%;
	line-height: 1.25em;
}

body.mediawiki .mbox-small-left {
	width: 240px;
	/* For the "small=left" option. */
	margin: 4px 1em 4px 0 !important;
	border-collapse: collapse;
	font-size: 88%;
	line-height: 1.25em;
}

/* Style for mboxes on small-screen pages */
@media screen and (max-width: 768px) {
	.mbox,
	.mbox-small {
		width: 100%;
		max-width: 100%;
		font-size: 0.9em;
	}

	.mbox-image,
	.mbox-imageright {
		flex: 1 0 6vw;
	}

	.mbox-image img,
	.mbox-imageright img {
		max-width: 6vw;
	}

	.mbox-image {
		/* The left image cell */
		padding: 2px 0 2px 2vw; /* 2vw left, 0px right */
	}

	.mbox-imageright {
		/* The right image cell */
		padding: 2px 2vw 2px 0; /* 0px left, 2vw right */
	}

	.mbox.licensetpl .mbox-image,
	.mbox.licensetpl .mbox-imageright {
		display: none;
	}

	.mbox-text {
		flex: 1 1 90vw;
		padding: 1vh 2vw;
	}
}

@media screen and (max-width: 480px) {
	.mbox-small {
		width: 100%;
		margin: 4px auto !important;
		float: none;
	}
}

/* For permissionerror area */
.permissions-errors {
	border: 1px solid #a2a9b1;
}

.permissions-errors .fmbox {
	border: 0;
}

/* </nowiki> */
