/**
 * SPDX-License-Identifier: CC-BY-NC-SA-4.0
 * _addText: '{{Gadget Header|license=CC-BY-NC-SA-4.0}}'
 *
 * @source <llwiki.org/zh/MediaWiki:Gadget-definitions.css>
 * @author Bhsd <https://llwiki.org/zh/User:Bhsd>
 */
.defTable span > a {
	margin-left: 1ch;
}

.defTable td:only-child {
	text-align: center;
}

.defTable .oo-ui-icon-check {
	display: none;
}

.defTable .oo-ui-tagItemWidget {
	display: block;
}