/**
 * +--------------------------------------------------------+
 * |         === WARNING: GLOBAL GADGET FILE ===            |
 * +--------------------------------------------------------+
 * |      All changes should be made in the repository,     |
 * |              otherwise they will be lost.              |
 * +--------------------------------------------------------+
 * |        Changes to this page affect many users.         |
 * |  Please discuss changes at Talk page before editing.   |
 * +--------------------------------------------------------+
 */
/* <nowiki> */
/**
 * SPDX-License-Identifier: CC-BY-NC-SA-4.0
 * _addText: '{{Gadget Header|license=CC-BY-NC-SA-4.0}}'
 *
 * @base <https://llwiki.org/zh/MediaWiki:Gadget-definitions.css>
 * @source <https://git.qiuwen.net.cn/InterfaceAdmin/Gadgets/src/branch/master/src/Gadgets/Definitions>
 * @author Bhsd <https://llwiki.org/zh/User:Bhsd>
 */
 .defTable span > a {
	margin-left: 1ch;
}

.defTable td:only-child {
	text-align: center;
}

.defTable .oo-ui-icon-check {
	display: none;
}

.defTable .oo-ui-tagItemWidget {
	display: block;
}

/* </nowiki> */