/* <nowiki> */
/**
 * SPDX-License-Identifier: CC BY-SA-4.0
 * _addText: '{{Gadget Header|license=CC-BY-SA-4.0}}'
 *
 * @source <www.mediawiki.org/wiki/MediaWiki:Gadget-whoisactive.css>
 */
.mw-whoisactivegadget-span {
	margin: 0 0.5em;
	padding: 0 0.5em;
	border-radius: 0.5em;
	border: 1px solid #ddd;
	overflow: hidden;
	vertical-align: middle;
	font-size: 13px;
	white-space: nowrap;
}

.mw-whoisactivegadget-recent {
	color: #14866d;
	border-color: #14866d;
}

.mw-whoisactivegadget-thisyear {
	color: #a60;
	border-color: #a60;
}

.mw-whoisactivegadget-overayear {
	color: #b32424;
	border-color: #b32424;
}

.mw-whoisactivegadget-filter-recent {
	-webkit-filter: invert(38%) sepia(99%) saturate(328%) hue-rotate(117deg) brightness(91%) contrast(99%);
	filter: invert(38%) sepia(99%) saturate(328%) hue-rotate(117deg) brightness(91%) contrast(99%);
}

.mw-whoisactivegadget-filter-thisyear {
	-webkit-filter: invert(47%) sepia(61%) saturate(4688%) hue-rotate(24deg) brightness(88%) contrast(101%);
	filter: invert(47%) sepia(61%) saturate(4688%) hue-rotate(24deg) brightness(88%) contrast(101%);
}

.mw-whoisactivegadget-filter-overayear {
	-webkit-filter: invert(13%) sepia(75%) saturate(3621%) hue-rotate(350deg) brightness(112%) contrast(86%);
	filter: invert(13%) sepia(75%) saturate(3621%) hue-rotate(350deg) brightness(112%) contrast(86%);
}

.client-darkmode .mw-whoisactivegadget-filter-recent,
.client-darkmode .mw-whoisactivegadget-filter-thisyear,
.client-darkmode .mw-whoisactivegadget-filter-overayear {
	-webkit-filter: none;
	filter: none;
}

/* </nowiki> */