/* <nowiki> */
/**
 * SPDX-License-Identifier: CC-BY-SA-4.0
 * _addText: '{{Gadget Header|license=CC-BY-SA-4.0}}'
 *
 * @source <zh.wikipedia.org/wiki/MediaWiki:Common.css>
 * @source <zh.wikipedia.org/wiki/MediaWiki:Group-user.css>
 */
/* 这里放置的CSS将只影响注册用户 */
#mwe-upwiz-upload-ctrl-flickr-container {
	display: none !important;
}

/* Edit Form CSS */
.mw-editform #editpage-copywarn {
	font-size: 1em !important;
}

.ext-WikiEditor-twopanes-TwoPaneLayout .ext-WikiEditor-twopanes-pane2 {
	border-right: 1px solid;
}

/* 允许注册用户查看被保护的页面源代码 */
#ca-viewsource {
	display: block !important;
}

/* </nowiki> */