/**
 * SPDX-License-Identifier: CC-BY-SA-4.0
 * _addText: '{{Gadget Header|license=CC-BY-SA-4.0|import=no}}'
 * @author 白给
 */
/**
 * +--------------------------------------------------------+
 * |         === WARNING: GLOBAL GADGET FILE ===            |
 * +--------------------------------------------------------+
 * |      All changes should be made in the repository,     |
 * |              otherwise they will be lost.              |
 * +--------------------------------------------------------+
 * |        Changes to this page affect many users.         |
 * |  Please discuss changes at Talk page before editing.   |
 * +--------------------------------------------------------+
 */
/* <nowiki> */
/* 隐藏原有图标 */
#citizen-userMenu__buttonCheckbox .mw-ui-icon-wikimedia-userAvatar:before {
    background-image: none;
}

/* 右上角头像 */
#citizen-userMenu__buttonCheckbox .mw-ui-icon-wikimedia-userAvatar {
    width: 75%;
    height: 75%;
    border-radius: 5px;
    background-size: cover;
}

/* 深色模式适配 */
.client-darkmode #citizen-userMenu__buttonCheckbox > .mw-ui-icon-wikimedia-userAvatar {
    -webkit-filter: invert(1) hue-rotate(180deg);
    filter: invert(1) hue-rotate(180deg);
}

/* </nowiki> */
