/**
 * SPDX-License-Identifier: CC-BY-SA-4.0
 * _addText: '{{Gadget Header|license=CC-BY-SA-4.0}}'
 *
 * @source <www.mediawiki.org/wiki/Skin:Timeless#CSS_snippets>
 */
/* One-sided navigation menu */
@media (min-width: 768px) {
	#mw-content-block {
		display: block;
	}

	#mw-content,
	#content-bottom-stuff {
		margin-right: 1em;
		margin-left: 12em;
	}

	#mw-content-wrapper {
		width: 100%;
		margin-left: -12em;
		float: right;
	}

	#mw-related-navigation {
		width: 12em;
		padding: 0 1em 0 0;
		border-width: 0 1px 0 0;
	}
}