/**
 * SPDX-License-Identifier: CC-BY-SA-4.0
 * _addText: '{{Gadget Header|license=CC-BY-SA-4.0}}'
 *
 * @source <en.wikipedia.org/wiki/MediaWiki:Gadget-responsiveContentBase.css>
 */
@media (min-width: 1500px) {
	.ns-0:not(.page-Qiuwen_首页) .mw-body-content .mw-parser-output > * {
		margin-right: 350px !important;
	}

	.ns-0 .mw-body-content .mw-parser-output > .mw-parser-output {
		margin-right: 0 !important;
		margin-left: 0 !important;
	}

	.ns-0 .mw-body-content .mw-parser-output > .infobox,
	.ns-0 .mw-body-content .mw-parser-output > .sidebar,
	.ns-0 .mw-body-content .mw-parser-output > .vertical-navbox,
	.ns-0 .mw-body-content .mw-parser-output > .stack-clear-right,
	.ns-0 .mw-body-content .mw-parser-output > .floatright,
	.ns-0 .mw-body-content .mw-parser-output > .sistersitebox,
	.ns-0 .mw-body-content .mw-parser-output > .mbox-small,
	.ns-0 .mw-body-content .mw-parser-output > .tright,
	.ns-0 .mw-body-content .mw-parser-output > .navbox {
		margin-right: 0 !important;
		margin-left: 1.4em !important;
	}

	.ns-0 .mw-body-content .mw-parser-output > .infobox,
	.ns-0 .mw-body-content .mw-parser-output > .sidebar,
	.ns-0 .mw-body-content .mw-parser-output > .vertical-navbox,
	.ns-0 .mw-body-content .mw-parser-output > .floatright,
	.ns-0 .mw-body-content .mw-parser-output > .tright {
		min-width: 330px !important;
	}

	.ns-0 .mw-body-content .mw-parser-output > .infobox,
	.ns-0 .mw-body-content .mw-parser-output > .sidebar,
	.ns-0 .mw-body-content .mw-parser-output > .vertical-navbox,
	.ns-0 .mw-body-content .mw-parser-output > .tright > .thumbinner {
		width: 330px !important;
		box-sizing: border-box;
	}

	.ns-0 .mw-body-content .mw-parser-output > .tright .thumbimage {
		width: 100%;
		height: auto;
	}

	.ns-0 .mw-body-content .mw-parser-output > #toc,
	.ns-0 .mw-body-content .mw-parser-output > .floatleft,
	.ns-0 .mw-body-content .mw-parser-output > .tleft {
		margin-right: 1.4em !important;
	}

	.ns-0 .mw-body-content .mw-parser-output > table,
	.ns-0 .mw-body-content .mw-parser-output > .center {
		max-width: calc(100% - 350px);
	}

	.ns-0 .ve-init-mw-desktopArticleTarget .mw-body-content .mw-parser-output > *:not(ul):not(ol):not(li) {
		margin-right: 0 !important;
		margin-left: 0 !important;
	}

	.ns-0 .mw-body-content .ext-WikiEditor-realtimepreview-preview .mw-parser-output > *:not(ul):not(ol):not(li) {
		margin-right: 0 !important;
		margin-left: 0 !important;
		max-width: 100%;
	}

	.ns-0 .ve-init-mw-desktopArticleTarget .mw-body-content .mw-parser-output > ul,
	.ns-0 .ve-init-mw-desktopArticleTarget .mw-body-content .mw-parser-output > ol,
	.ns-0 .ve-init-mw-desktopArticleTarget .mw-body-content .mw-parser-output > li,
	.ns-0 .mw-body-content .ext-WikiEditor-realtimepreview-preview .mw-parser-output > ul,
	.ns-0 .mw-body-content .ext-WikiEditor-realtimepreview-preview .mw-parser-output > ol,
	.ns-0 .mw-body-content .ext-WikiEditor-realtimepreview-preview .mw-parser-output > li {
		margin-right: 0 !important;
	}
}