/* <nowiki> */
/**
 * SPDX-License-Identifier: CC-BY-SA-4.0
 * _addText: '{{Gadget Header|license=CC-BY-SA-4.0}}'
 *
 * @source <zh.wikipedia.org/wiki/MediaWiki:Gadget-ToolsRedirect.css>
 */
div.dialog-redirect .mw-ajax-loader {
	top: 0;
}

div.dialog-redirect a:visited {
	color: #0b0080;
}

div.dialog-redirect a {
	color: #0645ad;
}

div.dialog-redirect a.new:visited {
	color: #a55858;
}

div.dialog-redirect a.new {
	color: #c20;
}

.tools-redirect_methods > a {
	position: relative;
	margin: 0 5px;
}

.tools-redirect_methods > .tools-redirect_link:first-of-type::before {
	content: '（';
}

.tools-redirect_methods > .tools-redirect_link::before {
	content: '｜';
}

.tools-redirect_methods > .tools-redirect_link:last-of-type::after {
	content: '）';
}

/* </nowiki> */