/**
 * SPDX-License-Identifier: CC-BY-SA-4.0
 * _addText: '{{Gadget Header|license=CC-BY-SA-4.0}}'
 *
 * @base <https://zh.wikipedia.org/wiki/MediaWiki:Gadget-NavFrame.css>
 * @base <https://www.mediawiki.org/wiki/MediaWiki:Gadget-NavFrame.css>
 * @source <https://git.qiuwen.net.cn/InterfaceAdmin/Gadgets/src/branch/master/src/Gadgets/NavFrame>
 */
/**
 * +--------------------------------------------------------+
 * |         === WARNING: GLOBAL GADGET FILE ===            |
 * +--------------------------------------------------------+
 * |      All changes should be made in the repository,     |
 * |              otherwise they will be lost.              |
 * +--------------------------------------------------------+
 * |        Changes to this page affect many users.         |
 * |  Please discuss changes at Talk page before editing.   |
 * +--------------------------------------------------------+
 */
/* <nowiki> */
.collapsetoggle {
	font-weight: normal;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.mw-content-ltr .collapsetoggle {
	margin-right: 0;
	margin-left: 0.5em;
}

.mw-content-rtl .collapsetoggle {
	margin-right: 0.5em;
	margin-left: 0;
}

/* </nowiki> */