/**
 * SPDX-License-Identifier: CC-BY-SA-4.0
 * _addText: '{{Gadget Header|license=CC-BY-SA-4.0}}'
 */
/* <nowiki> */
/* 此处的CSS更改只会影响使用Citizen皮肤的用户。*/

/* 变量 */
:root {
	--fonts-sans: 'Source Sans 3', 'Source Sans Pro', 'Source Han Sans SC', 'Helvetica', 'Roboto',
		'SFProDisplay-Regular', 'PingFang SC', 'Hiragino Sans GB', 'Heiti SC', 'STHeiti SC', 'WenQuanYi Micro Hei',
		-apple-system, 'BlinkMacSystemFont', system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol';
	--fonts-serif: 'Source Serif', 'Source Han Serif SC', 'Linux Libertine', 'Georgia', 'Times New Roman', 'Times',
		'STSong SC', 'SimSun', serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	--fonts-monospace: 'Source Code Pro', 'Source Han Mono SC', 'SFMono-Regular', 'Menlo', 'Roboto Mono', 'Consolas',
		'Monaco', 'Liberation Mono', 'Courier New', 'Courier', monospace, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol';
}

:root:lang(zh-hant) {
	--fonts-sans: 'Source Sans 3', 'Source Sans Pro', 'Source Han Sans TC', 'Helvetica', 'Roboto',
		'SFProDisplay-Regular', 'PingFang TC', 'Hiragino Sans CNS', 'Heiti TC', 'STHeiti TC', 'WenQuanYi Micro Hei',
		-apple-system, 'BlinkMacSystemFont', system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol';
	--fonts-serif: 'Source Serif', 'Source Han Serif TC', 'Linux Libertine', 'Georgia', 'Times New Roman', 'Times',
		'MingLiU', 'SimSun', serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	--fonts-monospace: 'Source Code Pro', 'Source Han Mono TC', 'SFMono-Regular', 'Menlo', 'Roboto Mono', 'Consolas',
		'Monaco', 'Liberation Mono', 'Courier New', 'Courier', monospace, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol';
}

/* 页面内容宽度 */
@media (min-width: 1440px) {
	.ns-0 .mw-body-content .mw-parser-output > * {
		margin-right: 0 !important;
	}

	.ns-0 .mw-body-content .mw-parser-output > table:not(.metadata):not(.infobox):not(.vertical-navbox) {
		margin: 0 auto !important;
	}
}

/* 子标题隐藏 */
#siteSub {
	display: none;
}

/* Page-specific rules */
.page-有兽档案馆_首页.action-view .mw-body-header {
	display: none;
}

/* [[Special:小工具]]标题 */
.mw-special-Gadgets h1,
.mw-special-Gadgets h2,
.mw-special-Gadgets h3,
.mw-special-Gadgets h4,
.mw-special-Gadgets h5,
.mw-special-Gadgets h6 {
	display: block !important;
}

/* [[Special:最近更改]]标题 */
.mw-changeslist h4 {
	display: block !important;
}

/*统一手机端用户字体大小修改版*/
@media only screen and (max-width: 767px) {
	body { 
		font-size:16px
	}
	h1{
		font-size:32px
	}
	h2{
		font-size:28px
	}
	h3{
		font-size:24px
	}
	h4{
		font-size:20px
	}
	h5{
		font-size:18px
	}
	h6{
		font-size:16px
	}
	p{
		max-height: 100%
	}
}

/* WIKI背景图 */
body {
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
		url(https://wiki.zorua.top/images/3/3a/%E6%9C%89%E5%85%BD%E7%84%89%E5%8A%A8%E7%94%BB%E6%88%AA%E5%9B%BE.png) no-repeat fixed 100% 0;
	background-size: cover;
}

/*定制化标题样式*/
header.mw-body-header{
	border-style:solid;
	border-width:2px;
    border-color:rgba(240,255,255,0.8);
	border-radius: 10px;
	background: rgba(240,255,240,0.7);
	padding: 20px;
	width: auto;
	height: auto;
}

/*隐藏标题原背景*/
.mw-body-header:before{
	display:none;
}

/* 内容框样式 */
.mw-body-content {
	padding: 2em min(1.8em, 4vw) 2em min(1.8em, 4vw);
	background: rgb(240 248 255 / 65%);
	border-radius: 10px;
	color: 	#000000;
	line-height: 2.14285714;
}

.mw-content-ltr ol {
	margin: 0.3em 0 0 1em;
}

.img-tx2 img {
	border-radius: 3px;
}


/* 可视化编辑器界面，隐藏标题 */
.ve-activated h1#firstHeading {
	display: none;
}

.ve-activated .citizen-body-header--sticky .mw-body-header::before {
	display: none;
}

.ve-init-mw-desktopArticleTarget #bodyContent {
	margin-top: calc(2 * var(--space-md));
}

/* 目录 (TOC) */
@media screen and (max-width: 720px) {
	.toc,
	#toc {
		clear: both;
	}
}

/* </nowiki> */
