/**
 * SPDX-License-Identifier: CC-BY-SA-4.0
 * _addText: '{{Gadget Header|license=CC-BY-SA-4.0}}'
 */
/* <nowiki> */
/* 此处的CSS更改只会影响使用Citizen皮肤的用户。*/

/* 变量 */
:root {
	--fonts-sans: -apple-system, 'BlinkMacSystemFont', 'MiSans', '小米兰亭 Pro VF', 'OPPO Sans', 'HarmonyOS Sans',
		'HONOR Sans', 'Source Sans 3', 'Source Sans Pro', 'Source Han Sans SC', 'Helvetica', 'Roboto',
		'SFProDisplay-Regular', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	--fonts-serif: 'Source Serif', 'Source Han Serif SC', 'Linux Libertine', 'Georgia', 'Times New Roman', 'Times',
		'STSong SC', 'SimSun', serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	--fonts-monospace: 'Consolas', 'JetBrains Mono', 'Source Code Pro', 'Menlo', 'SFMono-Regular', 'Roboto Mono',
		'Monaco', 'Liberation Mono', 'Courier New', 'Courier', monospace, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol';
}

:root:lang(zh-hant) {
	--fonts-sans: -apple-system, 'BlinkMacSystemFont', 'MiSans', '小米兰亭 Pro VF', 'OPPO Sans', 'HarmonyOS Sans',
		'HONOR Sans', 'Source Sans 3', 'Source Sans Pro', 'Source Han Sans TC', 'Helvetica', 'Roboto',
		'SFProDisplay-Regular', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	--fonts-serif: 'Source Serif', 'Source Han Serif TC', 'Linux Libertine', 'Georgia', 'Times New Roman', 'Times',
		'MingLiU', 'SimSun', serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

/** 汉仪有兽焉标题

@font-face {
  font-family: 'HYYouShouYanW';
  src: url('https://gitcdn.qiuwen.net.cn/YSARXIV/fonts/raw/branch/main/src/HYYouShouYanW.woff') format('woff');
  unicode-range: U+0020-007E, U+4E00-9FFF, U+FF00-FFEF;
}

.mw-body-content h1,
.mw-body-content h2,
h1#firstHeading {
  font-family:
    "HYYouShouYanW",
    -apple-system,
    BlinkMacSystemFont,
    "MiSans",
    "小米兰亭 Pro VF",
    "OPPO Sans",
    "HarmonyOS Sans",
    "HONOR Sans",
    "Source Sans 3",
    "Source Sans Pro",
    "Source Han Sans TC",
    "Helvetica",
    "Roboto",
    "SFProDisplay-Regular",
    sans-serif,
    "Plangothic P1",
    "Plangothic P2",
    "方正宋体S-超大字符集",
    "方正宋体S-超大字符集(SIP)",
    "文泉驿等宽正黑",
    "BabelStone Han",
    "HanaMinB",
    "FZSong-Extended",
    "Arial Unicode MS",
    "Code2002",
    "DFSongStd",
    "unifont",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}
 */

/* 页面内容宽度 */
@media (min-width: 1440px) {
	.ns-0 .mw-body-content .mw-parser-output > * {
		margin-right: 0 !important;
	}

	.ns-0 .mw-body-content .mw-parser-output > div.tleft,
	.ns-0 .mw-body-content .mw-parser-output > div.floatleft,
	.ns-0 .mw-body-content .mw-parser-output > table.floatleft {
		margin-right: 1.25rem !important;
	}

	.ns-0 .mw-body-content .mw-parser-output > table:not(.metadata):not(.infobox):not(.vertical-navbox) {
		margin: 0 auto !important;
	}
}

/* 子标题隐藏 */
#siteSub {
	display: none;
}

/* Page-specific rules */

.page-有兽档案馆_首页.action-view .mw-body-header,
.page-Fanmade_首页.action-view .mw-body-header{
	display: none;
}

/* 隐藏页边 */
.page-有兽档案馆_首页.action-view .citizen-body,
.page-Fanmade_首页.action-view .citizen-body,{
	grid-area: unset;
}


/* [[Special:小工具]]标题 */
.mw-special-Gadgets h1,
.mw-special-Gadgets h2,
.mw-special-Gadgets h3,
.mw-special-Gadgets h4,
.mw-special-Gadgets h5,
.mw-special-Gadgets h6 {
	display: block !important;
}

/* [[Special:最近更改]]标题 */
.mw-changeslist h4 {
	display: block !important;
}

/*统一手机端用户字体大小修改版*/
@media only screen and (max-width: 767px) {
	body { 
		font-size:16px
	}
	h1{
		font-size:32px
	}
	h2{
		font-size:28px
	}
	h3{
		font-size:24px
	}
	h4{
		font-size:20px
	}
	h5{
		font-size:18px
	}
	h6{
		font-size:16px
	}
	p{
		max-height: 100%
	}
}

/* WIKI背景图 （新年）*/
body {
	background: url(https://youshou.wiki/images/d/d0/2024%E9%99%A4%E5%A4%95%E8%B4%BA%E5%9B%BE.jpg) repeat fixed 100% 0;
	background-size: cover;
	background-attachment: local;
}

/*定制化标题样式*/
header.mw-body-header{
	border-style:solid;
	border-width:2px;
    border-color:rgba(240,255,255,0.8);
	border-radius: 10px;
	background: rgba(240,255,240,0.7);
	padding: 20px;
	width: auto;
	height: auto;
}

/*隐藏标题原背景*/
.mw-body-header:before{
	display:none;
}

/* 内容框样式 */
.mw-body-content {
	padding: 2em min(1.8em, 4vw) 2em min(1.8em, 4vw);
	background: rgb(240 248 255 / 65%);
	border-radius: 10px;
	color: 	#000000;
	line-height: 2.14285714;
}

.mw-content-ltr ol {
	margin: 0.3em 0 0 1em;
}

.img-tx2 img {
	border-radius: 3px;
}

/* 可视化编辑器界面，隐藏标题 */
.ve-activated h1#firstHeading {
	display: none;
}

.ve-activated .citizen-body-header--sticky .mw-body-header::before {
	display: none;
}

.ve-init-mw-desktopArticleTarget #bodyContent {
	margin-top: calc(2 * var(--space-md));
}

/* 目录 (TOC) */
@media screen and (max-width: 720px) {
	.toc,
	#toc {
		clear: both;
	}
}

/* 变体菜单 */
@media screen and (max-width: 720px) {
	#citizen-languages__card {
		right: calc(var(--space-xxl) * 2);
	}
}
/* </nowiki> */
