/**
 * SPDX-License-Identifier: CC-BY-SA-4.0
 * _addText: '{{Gadget Header|license=CC-BY-SA-4.0}}'
 *
 * @base <https://zh.wikipedia.org/wiki/MediaWiki:Common.css>
 * @base <https://en.wikipedia.org/wiki/MediaWiki:Common.css>
 * @base <https://en.wikipedia.org/wiki/MediaWiki:Gadget-responsiveContentBase.css>
 * @base <https://www.mediawiki.org/wiki/Snippets/Horizontal_lists>
 * @source <https://git.qiuwen.wiki/InterfaceAdmin/Gadgets/src/branch/master/src/Global/Common>
 */
/**
 * +--------------------------------------------------------+
 * |         === WARNING: GLOBAL GADGET FILE ===            |
 * +--------------------------------------------------------+
 * |      All changes should be made in the repository,     |
 * |              otherwise they will be lost.              |
 * +--------------------------------------------------------+
 * |        Changes to this page affect many users.         |
 * |  Please discuss changes at Talk page before editing.   |
 * +--------------------------------------------------------+
 */
/* <nowiki> */
/* stylelint-disable selector-not-notation */
/* stylelint-disable media-feature-name-no-vendor-prefix */

/**
 * 此处的CSS只会在桌面版加载
 * 为登录用户加载，请编辑[[MediaWiki:Group-user.css]]
 */

/* 重置<html>默认样式 */
html {
	tab-size: 4;
}

/* 移动端显示相关类（.nomobile, .mobileonly, .onlymobile） */
@media screen and (max-width: 768px) {
	.nomobile {
		display: none;
	}
}

@media screen and (min-width: 768px) {
	.mobileonly,
	.onlymobile {
		display: none;
	}
}

/* 设置某元素背景颜色与上级元素相同（.same-bg） */
.same-bg {
	background: none;
}

/* 解决<cite>定位内文字显示为斜体的问题 */
cite {
	font-style: normal;
}

/* 重置<dfn>默认样式 */
dfn {
	font-style: inherit;
}

/* 重置<q>引号 */
q {
	/* 双引号：“”；单引号：‘’ */
	quotes: '“' '”' '‘' '’';
}

q:lang(zh-hant) {
	/* 外引号：「」；内引号：『』 */
	quotes: '「' '」' '『' '』';
}

q:lang(en) {
	/* 外引号：""；内引号：'' */
	quotes: '"' '"' "'" "'";
}

/* 字库调用优先顺序 */
body,
input {
	font-family: 'Noto Sans', 'Source Sans 3', 'Source Sans Pro', 'Noto Sans SC', 'Source Han Sans SC', Helvetica,
		Roboto, SFProDisplay-Regular, 'PingFang SC', 'Hiragino Sans GB', 'Heiti SC', 'STHeiti SC', 'WenQuanYi Micro Hei',
		-apple-system, BlinkMacSystemFont, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol';
}

body:lang(zh-hant),
input:lang(zh-hant) {
	font-family: 'Noto Sans', 'Source Sans 3', 'Source Han Sans TC', 'Noto Sans TC', 'Source Sans Pro', Helvetica,
		Roboto, SFProDisplay-Regular, 'PingFang TC', 'Hiragino Sans CNS', 'Heiti TC', 'STHeiti TC',
		'WenQuanYi Micro Hei', -apple-system, BlinkMacSystemFont, system-ui, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol';
}

code,
div.CodeMirror,
kbd,
pre,
samp,
tt,
.content code,
.content kbd,
.content pre,
.content samp,
.mw-editfont-monospace,
.screenplay,
.ve-ui-mwWikitextSurface .ve-ce-attachedRootNode {
	font-family: 'Noto Mono', 'Source Code Pro', 'Source Han Mono SC', Consolas, Monaco, Courier, monospace,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

code:lang(zh-hant),
div.CodeMirror:lang(zh-hant),
kbd:lang(zh-hant),
pre:lang(zh-hant),
samp:lang(zh-hant),
tt:lang(zh-hant),
.content code:lang(zh-hant),
.content kbd:lang(zh-hant),
.content pre:lang(zh-hant),
.content samp:lang(zh-hant),
.mw-editfont-monospace:lang(zh-hant),
.screenplay:lang(zh-hant),
.ve-ui-mwWikitextSurface .ve-ce-attachedRootNode:lang(zh-hant) {
	font-family: 'Noto Mono', 'Source Code Pro', 'Source Han Mono TC', Consolas, Monaco, Courier, monospace,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.mw-body dt,
.mw-body h1,
.mw-body h2,
.mw-body h3,
.mw-body h4,
.mw-body h5,
.mw-body h6,
#mw-related-navigation h2,
#mw-site-navigation h2,
#mw-site-navigation .sidebar-chunk h3,
#p-logo-text a,
#personal h2,
.mw-logo-wordmark {
	font-family: 'Noto Serif', 'Source Serif', 'Noto Serif SC', 'Source Han Serif SC', 'Linux Libertine', Georgia,
		'Times New Roman', Times, STSong, SimSun, serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.mw-body dt:lang(zh-hant),
.mw-body h1:lang(zh-hant),
.mw-body h2:lang(zh-hant),
.mw-body h3:lang(zh-hant),
.mw-body h4:lang(zh-hant),
.mw-body h5:lang(zh-hant),
.mw-body h6:lang(zh-hant),
#mw-related-navigation h2:lang(zh-hant),
#mw-site-navigation h2:lang(zh-hant),
#mw-site-navigation .sidebar-chunk h3:lang(zh-hant),
#p-logo-text a:lang(zh-hant),
#personal h2:lang(zh-hant),
.mw-logo-wordmark:lang(zh-hant) {
	font-family: 'Noto Serif', 'Source Serif', 'Noto Serif TC', 'Source Han Serif TC', 'Linux Libertine', Georgia,
		'Times New Roman', Times, MingLiU, SimSun, serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

/* 字号 */
big {
	font-size: 1.2em;
}

small {
	font-size: 0.9em;
}

.mw-editfont-monospace,
.mw-editfont-sans-serif,
.mw-editfont-serif {
	font-size: 14px !important;
}

/* 断字设置 */
.nowrap,
.nowrap a::before,
.nowrap .selflink::before {
	white-space: nowrap;
}

.CodeMirror-wrap pre.CodeMirror-line,
.CodeMirror-wrap pre.CodeMirror-line-like {
	word-break: break-all;
}

pre,
.mw-code,
.mw-highlight,
.ve-init-mw-desktopArticleTarget .CodeMirror-code,
.ve-init-mw-desktopArticleTarget .CodeMirror-code *,
.ve-init-mw-desktopArticleTarget .ve-ui-mwWikitextSurface .ve-ce-paragraphNode {
	line-break: anywhere !important;
	white-space: pre-wrap !important;
	word-break: break-all !important;
	word-wrap: break-word !important;
}

/* 参考来源列表字号 */
ol.references,
div.reflist {
	margin-bottom: 0.5em;

	/* 默认字号 */
	font-size: 90%;
}

div.reflist ol.references {
	/* 重置包含于<div class="reflist">参考列表的字号 */
	font-size: 100%;
}

div.reflist ol.references,
div.notelist ol.references {
	/* 继承母列表的自定义列表类型 */
	list-style-type: inherit;
}

ol.references .mw-extended-references {
	margin-bottom: 0.3em;
	margin-left: 1.25em;
}

/* Reduce page jumps by hiding collapsed/dismissed content */
.client-js .mw-special-Watchlist #watchlist-message,
.client-js .collapsible:not( .mw-made-collapsible).collapsed > tbody > tr:not(:first-child),
/* Avoid FOUC/reflows on collapsed elements. */
/* This copies MediaWiki's solution for T42812 to apply to innercollapse/outercollapse (T325115). */
/* TODO: Use :is() selector at some reasonable future when support is good for Most Clients */
/* Reference: <gerrit.wikimedia.org/g/mediawiki/core/+/ecda06cb2aef55b77c4b4d7ecda492d634419ead/resources/src/jquery/jquery.makeCollapsible.styles.less#75> */
.client-js .outercollapse .innercollapse.mw-collapsible:not( .mw-made-collapsible ) > p,
.client-js .outercollapse .innercollapse.mw-collapsible:not( .mw-made-collapsible ) > table,
.client-js .outercollapse .innercollapse.mw-collapsible:not( .mw-made-collapsible ) > thead + tbody,
.client-js .outercollapse .innercollapse.mw-collapsible:not( .mw-made-collapsible ) tr:not( :first-child ),
.client-js .outercollapse .innercollapse.mw-collapsible:not( .mw-made-collapsible ) .mw-collapsible-content {
	margin-top: 0.3em;
}

/* Reset top margin for lists embedded in columns */
.mw-parser-output .columns {
	margin-top: 0.3em;
}

.mw-parser-output div.columns dl,
.mw-parser-output div.columns ol,
.mw-parser-output div.columns ul {
	margin-top: 0;
}

/* Avoid list items from breaking between columns */
.mw-parser-output div.columns dd dd,
.mw-parser-output div.columns li {
	break-inside: avoid-column;
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
}

/* Highlight clicked reference in blue to help navigation */
ol.references li:target,
span.citation:target,
sup.reference:target {
	background-color: #def;
}

/* 处理灰色链接，比如未开通的轨道交通车站 */
a .graylink,
a.graylink,
.graylink a {
	color: #888;
}

a:visited .graylink,
a:visited.graylink,
.graylink a:visited {
	color: #666;
}

a.new .graylink,
a.new.graylink,
.graylink a.new {
	color: #a77;
}

a:visited.new .graylink,
a:visited.new.graylink,
.graylink a:visited.new {
	color: #955;
}

a.selflink .graylink,
a.selflink.graylink,
.graylink a.selflink {
	color: #333;
}

/* Prevent line breaks in silly places:
 * 1. Where desired
 * 2. Links when we don't want them to
 * 3. Bold "links" to the page itself
 * 4. HTML formulae
 * 5. Ref tags with group names <ref group="Note"> → "[Note 1]"
*/
span.texhtml,
sup.reference a,
.nowrap,
.nowraplinks a {
	white-space: nowrap;
}

/**
 * In the case where non-CJK links are joined with CJK punctuations
 * (thus no space after punctuations), browsers tend to disallow link wrap
 * around those punctuations (see diff=37708459). Insert an empty pseudo-
 * element with standard wrapping to work around this.
 */
.nowraplinks a::before,
.nowraplinks .selflink::before {
	content: ' ';
	font-size: 0;
	white-space: normal;
}

/* However if there is a manual nowrap, do not ignore it. */
.nowraplinks .nowrap a::before,
.nowraplinks .nowrap .selflink::before {
	white-space: nowrap;
}

/* Style for horizontal lists (separator following item) */
.hlist {
	margin-left: 0;
}

.hlist dl,
.hlist ol,
.hlist ul {
	padding-left: 0;
	margin: 0 !important;
}

.hlist dd,
.hlist dt,
.hlist li {
	display: inline;
	margin: 0 !important;
}

/* Display nested lists inline */
.hlist dl dl,
.hlist dl ol,
.hlist dl ul,
.hlist ol dl,
.hlist ol ol,
.hlist ol ul,
.hlist ul dl,
.hlist ul ol,
.hlist ul ul,
.hlist.inline,
.hlist.inline dl,
.hlist.inline ol,
.hlist.inline ul {
	display: inline;
}

/* Hide empty list items */
.hlist .mw-empty-elt,
.hlist .mw-empty-li {
	display: none;
}

/* Generate interpuncts */
.hlist dt::after {
	content: '：';
}

.hlist dd::after,
.hlist li::after {
	content: ' · ';
	font-weight: bold;
}

.hlist dd:last-child::after,
.hlist dt:last-child::after,
.hlist li:last-child::after {
	content: none;
}

/* Add parens around nested lists */
.hlist dl dl::before,
.hlist ol ol::before,
.hlist ul ul::before {
	content: '（';
}

.hlist dl dl::after,
.hlist ol ol::after,
.hlist ul ul::after {
	content: '）';
}

/* Put numbers in ordered lists */
.hlist.hnum ol li {
	counter-increment: level1;
}

.hlist.hnum ol li::before {
	content: counter(level1) ' ';
}

.hlist.hnum ol ol li {
	counter-increment: level2;
}

.hlist.hnum ol ol li::before {
	content: counter(level2) ' ';
}

/* Unbulleted lists */
.plainlist,
.plainlist ul {
	margin-left: 0 !important;
	list-style: none none !important;
}

.plainlist li {
	margin-bottom: 0;
}

/* 解决wikitable折叠后<caption>显示问题 */
.wikitable.mw-collapsed caption {
	display: block;
}

/* Styling for jQuery makeCollapsible, matching that of collapseButton */
.mw-parser-output .mw-collapsible-toggle:not(.mw-ui-button) {
	padding-right: 0.2em;
	padding-left: 0.2em;
	font-weight: normal;
}

.mw-collapsible-leftside-toggle .mw-collapsible-toggle {
	/* @noflip */
	float: left;
}

/* Lists in wikitable data cells are always left-aligned */
.wikitable td ul,
.wikitable td ol,
.wikitable td dl {
	/* @noflip */
	text-align: left;
}

/* {{Hatnote}}、{{Notice}}等模板 */
.hatnote,
.notice,
#spoiler {
	padding: 0.2em 0;
	margin: 1rem 2rem;
	font-size: small;
	text-align: justify;
}

.hatnote i {
	font-style: normal;
}

div.hatnote + div.hatnote {
	margin-top: -0.5rem;
}

.hatnote a:not(.new),
.dablink a:not(.new),
.rellink a:not(.new) {
	color: #36c;
}

/* .nounderlines 样式 */
.nounderlines a {
	text-decoration: none !important;
}

/* {{Coord}}模板 */
.geo-default,
.geo-multi-punct {
	display: none;
}

.geo-nondefault {
	display: inline;
}

.latitude,
.longitude {
	white-space: nowrap;
}

/* 替换PDF链接图标；参见[[File:PDF icon.svg]] */
#bodyContent a[href$='.pdf'].external,
#bodyContent a[href$='.PDF'].external,
#bodyContent a[href*='.pdf#'].external,
#bodyContent a[href*='.PDF#'].external,
#bodyContent a[href*='.pdf?'].external,
#bodyContent a[href*='.PDF?'].external {
	padding-right: 20px;
	background: no-repeat 100%/16px
		url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAbCAMAAABRPb9kAAAAnFBMVEUAAAAJCQkAAAAGBgbsGibqGiOPFBlHDhE5Dg8iDA3tHCUGBgbtHCTuGyQMDAwHBwcAAAD////tHCQAAADuJS27u7v3lZn6w8WGhob0eHz80tT6vL/5srXrHiZ3d3fxUVfd3d32iI3zaG4hISH95udjY2PyWF7+8vP83t/819j4n6OhaWy2VFjwQkjmHCPiGyLt7e31gYZYWFjvNTx0vtNSAAAAEXRSTlMA+AzWRBf8+vn58uni2f7CGZi35rQAAADWSURBVHjandADmsUwFIbhXBvnr4NrG/vf29RIxt/j87YRY6xmlRrUWV5t6+S9xpNCaj7lzdZWIxcNctEhFwNCmZqQns2AxyJqVtMhzY+h1TOh1wrno64J3VGLDdG+uFqXNoYM6qZsrXAEBmAn5WmFq5TuDlhKKQMghoCOBwrmtNnQE4I4X+awsknOybU3+xBsIAfPoyCEaCqIaF4sJQKEoA7RH8vlO4cVEALn5FaWWvEdgCvnIlA48Qz6d/Me9z5Ys9k5e1rnTrP5zev+B7aO1jYFyyiED7SaLK1LMuvVAAAAAElFTkSuQmCC');
	background: no-repeat 100%/16px
		url("data:image/svg+xml;background-position:100%;background-repeat:no-repeat;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 16'%3E%3Cpath fill='%23fff' d='M1.708 15.633V.367h7.008l3.586 3.583v11.683z'/%3E%3Cpath d='M8.564.734l3.37 3.368v11.163H2.076V.734h6.489M8.868 0H1.34v16h11.328V3.798z'/%3E%3Cpath fill='%23fff' d='M12.302 15.633H1.708V.367h7.008l.083.083v3.42h3.423l.08.08z'/%3E%3Cpath d='M8.432.734v3.503h3.503v11.029h-9.86V.734h6.357M8.867 0H1.341v16h11.328V3.798l-.296-.295H9.165V.298zm2.318 3.293H9.411V1.5l1.774 1.73z'/%3E%3Cpath d='M9.778 2.37l.57.556h-.57V2.37m-.23-1.25h-.505v2.54h2.509v-.585z'/%3E%3Cg fill='%23ed1c24'%3E%3Cpath d='M13.644 12.321H.366v-5.36l.677-.676v.85h11.924v-.85l.677.676z'/%3E%3Cpath d='M13.266 7.005l.08.08v4.938H.664V7.085l.08-.08v.43h12.521v-.43m-.596-1.44v1.273H1.34V5.564L.067 6.838v5.782h13.875V6.838z'/%3E%3C/g%3E%3Cpath d='M2.145 11.733V7.915h1.398q.311 0 .593.065.282.058.493.211.212.147.335.394.13.24.13.599 0 .352-.13.605-.123.252-.335.417-.211.158-.487.24-.276.077-.576.077h-.41v1.21zm1.01-2.009h.364q.3 0 .44-.14.148-.142.148-.4t-.159-.364-.452-.106h-.34zm2.561 2.009V7.915h1.128q.435 0 .793.106.364.105.623.334t.399.588q.147.358.147.863t-.141.87-.4.599q-.252.235-.605.346-.346.112-.757.112zm1.01-.81h.06q.205 0 .387-.048.182-.052.311-.176.135-.123.212-.34t.076-.553-.076-.546-.212-.329q-.129-.117-.311-.158-.182-.047-.388-.047h-.059zm2.761.81V7.915h2.49v.846h-1.48v.728h1.27v.846h-1.27v1.398z' fill='%23fff'/%3E%3C/svg%3E");
}

/* {{僻字}} */
.inline-unihan {
	border-bottom: 1px dotted;
	cursor: help;
	font-family: 'Noto Sans', 'Source Sans 3', 'Source Sans Pro', 'Noto Sans SC', 'Source Han Sans SC', Helvetica,
		Roboto, SFProDisplay-Regular, 'PingFang SC', 'Hiragino Sans GB', 'Heiti SC', 'STHeiti SC', 'WenQuanYi Micro Hei',
		-apple-system, BlinkMacSystemFont, system-ui, 'Plangothic P1', 'Plangothic P2', '方正宋体S-超大字符集',
		'方正宋体S-超大字符集(SIP)', '文泉驿等宽正黑', 'BabelStone Han', HanaMinB, FZSong-Extended, 'Arial Unicode MS',
		'Code2002', DFSongStd, unifont, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	font-variant: normal;
}

.inline-unihan:lang(zh-hant) {
	font-family: 'Noto Sans', 'Source Sans 3', 'Source Han Sans TC', 'Noto Sans TC', 'Source Sans Pro', Helvetica,
		Roboto, SFProDisplay-Regular, 'PingFang TC', 'Hiragino Sans CNS', 'Heiti TC', 'STHeiti TC',
		'WenQuanYi Micro Hei', -apple-system, BlinkMacSystemFont, system-ui, 'Plangothic P1', 'Plangothic P2',
		'方正宋体S-超大字符集', '方正宋体S-超大字符集(SIP)', '文泉驿等宽正黑', 'BabelStone Han', HanaMinB,
		FZSong-Extended, 'Arial Unicode MS', 'Code2002', DFSongStd, unifont, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol';
}

/**
 * Page-specific rules
 */

/* Gadgets-definition大字号 */
.rootpage-MediaWiki_Gadgets-definition .mw-parser-output li {
	font-family: 'Noto Mono', 'Source Code Pro', 'Source Han Mono SC', Consolas, Monaco, Courier, monospace,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	font-size: 1.2em;
	overflow-wrap: break-word;
}

.rootpage-MediaWiki_Gadgets-definition:lang(zh-hant) .mw-parser-output li {
	font-family: 'Noto Mono', 'Source Code Pro', 'Source Han Mono TC', Consolas, Monaco, Courier, monospace,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

/* [[Special:小工具]]行距 */
.mw-special-Gadgets p {
	margin: 0;
}

/* 注册页面样式 */
.mw-special-CreateAccount .mw-ui-container {
	flex-flow: row wrap;
	align-content: flex-start;
	align-items: flex-start;
	justify-content: space-between;
	margin-right: 0 !important;
	float: none !important;
}

.mw-special-CreateAccount .mw-ui-container #signupstart {
	flex: 1 1 100%;
}

.mw-special-CreateAccount .mw-ui-container #userloginForm {
	display: flex;
	flex: 1 1 100px;
	margin: 2em;
}

@media screen and (max-width: 768px) {
	.mw-special-CreateAccount .mw-ui-container #userloginForm {
		flex: 1 1 100%;
	}
}

.mw-special-CreateAccount .mw-createacct-benefits-container {
	flex: 1 1 100px;
	margin: 2em;
}

/**
 * Screen-specific rules
 */

/* 编辑提交界面按钮部分的样式 */
.mw-summary-preset {
	display: inline;
	padding: 0;
}

.mw-summary-preset-item {
	display: inline-block;
	padding: 0 0.5em;
	border-left: 1px solid #a2a9b1;
	margin: 0.125em 0;
	line-height: 1.25em;
}

.mw-summary-preset-item:first-child {
	padding-left: 0.25em;
	border-left: medium none;
}

.mw-summary-preset-item:last-child {
	padding-right: 0.25em;
}

.mw-special-MassEditRegex .mw-summary-preset {
	display: none;
}

/* 编辑历史界面 */
#pagehistory li.not-patrolled {
	background-color: #ffa !important;
}

/* 默认隐藏“编辑选定修订版本的标签” */
.mw-history-editchangetags-button {
	display: none;
}

.mw-log-editchangetags-button {
	display: none;
}

/* 上传界面 */
#mwe-upwiz-upload-ctrl-flickr-container {
	display: none;
}

/* 文件信息页面 */

/* 仅需要用于文件名字空间的，请编辑[[File:Filepage.css]] */
.licensetpl_wrapper,
.licensetpl_metadata {
	display: none;
}

.fileinfotpl-type-information,
.fileinfotpl-type-artwork {
	width: 95%;
	padding: 5px;
	border-width: 2px;
	border-style: solid;
	border-color: #999;
	border-radius: 5px;
	margin: 1em auto;
	background-color: #f9f9f9;
	border-collapse: inherit;
}

@media (max-width: 768px) {
	.fileinfotpl-type-information,
	.fileinfotpl-type-artwork {
		width: 100%;
		max-width: 100%;
	}
}

.fileinfotpl-type-information td,
.fileinfotpl-type-artwork td {
	padding: 0.5em;
	background-color: #f7f8ff;
	vertical-align: top;
}

.fileinfotpl-type-information td.fileinfo-paramfield,
.fileinfotpl-type-artwork td.fileinfo-paramfield {
	width: 5em;
	background-color: #def;
	font-weight: bold;
	text-align: right;
}

.fileinfotpl-type-information tbody > tr:first-child > td:first-child,
.fileinfotpl-type-artwork tbody > tr:first-child > td:first-child {
	border-radius: 5px 0 0;
}

.fileinfotpl-type-information tbody > tr:first-child > td:last-child,
.fileinfotpl-type-artwork tbody > tr:first-child > td:last-child {
	border-radius: 0 5px 0 0;
}

.fileinfotpl-type-information tbody > tr:last-child > td:first-child,
.fileinfotpl-type-artwork tbody > tr:last-child > td:first-child {
	border-radius: 0 0 0 5px;
}

.fileinfotpl-type-information
	tbody
	> tr:last-child
	> td:last-child
	.fileinfotpl-type-artwork
	tbody
	> tr:last-child
	> td:last-child {
	border-radius: 0 0 5px;
}

.fileinfotpl-type-information .fn,
.fileinfotpl-type-artwork .fn {
	display: none;
}

table.filehistory {
	display: block;
	overflow: auto;
}

/* 多媒体查看器（Multimedia Viewer） */
.mw-mmv-repo-button-commons,
.mw-mmv-description-page-button[href*='wikipedia'],
.mw-mmv-description-page-button[href*='wikimedia'] {
	display: none !important;
}

/* 仅当图像具有透明背景时，在图像描述页上显示棋盘格背景；参见[[File:Checker-16x16.svg]] */
#file img {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAAAAAA6mKC9AAAAGElEQVQYV2N4DwX/oYBhgARgDJjEAAkAAEC99wFuu0VFAAAAAElFTkSuQmCC')
		repeat;
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath d='M0 0h8v16h8V8H0z' opacity='.07'/%3E%3C/svg%3E")
		repeat;
}

/* 隐藏首页的页顶、页尾及其他无用要素 */
.page-有兽档案馆_首页.action-view .mw-indicators,
.page-有兽档案馆_首页.action-view #contentSub,
.page-有兽档案馆_首页.action-view #siteSub,
.page-有兽档案馆_首页.action-view .firstHeading,
.page-有兽档案馆_首页.action-view .mw-redirectedfrom,
.page-有兽档案馆_首页.action-view .vector-article-toolbar,
.page-有兽档案馆_首页.action-view #mw-page-header-links,
.page-有兽档案馆_首页.action-view #mw-related-navigation {
	display: none !important;
}

/* 禁止删除首页 */
.rootpage-有兽档案馆_首页 #ca-delete,
.rootpage-有兽档案馆_首页 #deleteconfirm,
.rootpage-Template_首页 #ca-delete,
.rootpage-Template_首页 #deleteconfirm {
	display: none !important;
}

/* 隐藏首页下方的Catlink */
.page-有兽档案馆_首页.action-view #catlinks {
	display: none;
}

/* 隐藏首页下方的“最后编辑于” */
.page-有兽档案馆_首页 #footer-info-lastmod {
	display: none;
}

/* 隐藏首页下方的Easy Archive未启用提示 */
.page-有兽档案馆_首页 #easy_archive_enable_notice {
	display: none;
}

/* 讨论页 */
.ext-discussiontools-emptystate-logo {
	display: none;
}

/* 隐藏同人主页标题与编辑栏 */
@media screen {
	.page-Fanmade_同人主页.action-view .mw-body-header {
		display: none !important;
	}
}
/* 隐藏同人主页下方的Catlink */
.page-Fanmade_同人主页.action-view #catlinks {
	display: none;
}

/* 设置禁止编辑的页面，不显示编辑按钮 */
.noedit .editsection,
.noedit .mw-editsection {
	display: none;
}

/* 其他样式 */
span.lanLabel {
	padding-left: 0.5em;
	color: #72777d;
}

tt span.bot {
	margin: 0 -6px 0 1px;
	font-size: 12px;
}

tt span.minor {
	margin: 0 -2px 0 -3px;
	font-size: 12px;
}

tt span.newpage {
	margin: 0 1px 0 -6px;
	font-size: 12px;
}

/* 用于封禁类模板，如{{Uw-block1}} */
div.user-block {
	padding: 5px;
	border: 1px solid #a2a9b1;
	background-color: #ffefd5;
}

/* For linked citation numbers and document IDs, where the number need not be shown on a screen or a handheld, but should be included in the printed version */
@media screen, handheld, projection {
	cite *.printonly {
		display: none;
	}
}

/* Pie chart test: Transparent borders */
.transborder {
	border: solid transparent;
}

/* {{Fact}} */
.template-facttext {
	padding: 0.3em 0;
	margin: -0.3em 0;
	background-color: #eaecf0;
}

/**
 * Hide stuff meant for accounts with special permissions.
 * Made visible again in [[MediaWiki:Group-sysop.css]],
 * [[Mediawiki:Group-autoconfirmed.css]],
 * [[MediaWiki:Group-user.css]] and more.
 */
.bureaucrat-show,
.sysop-show,
.autoconfirmed-show,
.user-show {
	display: none;
}

.senioreditor-show,
.patroller-show,
.transwiki-show,
.templateeditor-show,
.autoreviewer-show {
	display: none;
}

/* HACK to workaround VE and badly written CGroups */
.noteTA {
	display: none;
}

/* Normal font styling for wikitable row headers with scope="row" tag */
.wikitable.plainrowheaders th[scope='row'] {
	font-weight: normal;
	text-align: left;
}

/* [[MediaWiki:Noarticletext]] */
.noarticletext {
	font-family: 'Noto Serif', 'Source Serif', 'Noto Serif SC', 'Source Han Serif SC', 'Linux Libertine', Georgia,
		'Times New Roman', Times, STSong, SimSun, serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.noarticletext:lang(zh-hant) {
	font-family: 'Noto Serif', 'Source Serif', 'Noto Serif TC', 'Source Han Serif TC', 'Linux Libertine', Georgia,
		'Times New Roman', Times, MingLiU, SimSun, serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.noarticletext-core {
	border: 1px solid #eaecf0;
	background: #f8f9fa;
}

.noarticletext-core .clear {
	height: 1em;
	clear: both;
}

.noarticletext-core .clear-high {
	height: 5em;
}

.noarticletext-core .mw-noarticletext-title {
	font-size: 200%;
}

.noarticletext-core .big {
	font-size: 120%;
}

/* [[MediaWiki:Blockedtext]] */
#mw-blockedtext {
	width: 100%;
	padding: 0;
	border: 2px solid #eaecf0;
	border-radius: 0.25em;
	margin: 1.25em 0;
}

#mw-blockedtext-title {
	color: #d33;
	font-size: 1.5em;
	text-align: center;
}

#mw-blockedtext-subtitle {
	display: inline-block;
	padding: 0 2em;
	border-radius: 3px;
	text-align: center;
}

#mw-blockedtext-detail,
#mw-blockedtext-appeal {
	padding: 0.75em 1em;
	border: 0;
	border-radius: 0.25em;
	margin: 1em;
	background: #eaecf0;
	color: #2a4b8d;
}

#mw-blockedtext-reason {
	margin-bottom: 0.5em;
}

#mw-blockedtext-reason-text {
	color: #d33;
}

#mw-blockedtext-reason-text,
#mw-blockedtext-expire-text,
#mw-blockedtext-userip-text,
#mw-blockedtext-blockid-text {
	margin: 0.5em;
}

#mw-blockedtext-userwarn {
	margin: 1.25em 0;
	color: #d33;
	font-size: 1.25em;
	text-align: center;
}

/* “权限错误”页面提示 */
ul.permissions-errors {
	margin: auto !important;
}

ul.permissions-errors li {
	list-style-type: none !important;
}

ul.permissions-errors + hr {
	border: 0;
	margin: 0;
}

/* 不允许被保护的页面查看源代码 */
#ca-viewsource {
	display: none;
}

/**
 * 编辑界面“→ 前往编辑区”
 * Copied from .mw-ui-button
 */
.mw-continue-editing a {
	display: inline-block;
	min-width: 4em;
	max-width: 28.75em;
	min-height: 32px;
	box-sizing: border-box;
	padding: 5px 12px;
	border: 1px solid #a2a9b1;
	border-radius: 0;
	margin: 0;
	appearance: none;
	background-color: #f8f9fa;
	color: #202122;
	cursor: pointer;
	font-family: inherit;
	font-size: 1em;
	font-weight: bold;
	line-height: 1.2857em;
	text-align: center;
	transition: background-color 100ms, color 100ms, border-color 100ms, box-shadow 100ms;
	vertical-align: middle;
}

.mw-continue-editing a:hover {
	border-color: #a2a9b1;
	background-color: #fff;
	color: #404244;
}

/* Old jQuery UI dialogs */
.ui-dialog {
	max-width: 90vw;
}

/* 移动端优化 */
@media only screen and (max-width: 768px) {
	/* !important to ignore inline styles */

	/* .mw-body-content to increase specificity */
	.mw-body-content table {
		overflow: auto;
		max-width: 100% !important;
		margin-right: auto !important;
		margin-left: auto !important;
		float: none !important;
		overflow-x: auto;
		overflow-y: hidden;
	}

	.mw-body-content .thumb {
		margin: 0.5em auto;
		clear: none;
		float: none;
	}

	.mw-body-content .thumbinner {
		max-width: 100%;
		box-sizing: border-box;
		border: 0;
		margin: 0 auto;
		background-color: transparent;
	}

	.mw-body-content .thumbinner .thumbimage {
		max-width: 100%;
		height: auto;
		object-fit: contain;
	}

	.mw-body-content .thumbimage {
		border: 0;
		background-color: transparent;
	}

	.mw-body-content .thumbcaption {
		text-align: center;
	}

	.mw-body-content .thumbcaption > .magnify {
		display: none;
	}

	#firstHeading .mw-editsection,
	#coordinates {
		display: none;
	}

	.mw-body-content .image > img {
		min-width: 20px;
		max-width: 100%;
		height: auto;
		object-fit: contain;
	}

	.mw-body-content {
		word-wrap: break-word;
	}
}

/* stylelint-disable-next-line media-feature-name-no-unknown */
@media only screen and (max-width: 768px) and (min-device-pixel-ratio: 1.5),
	only screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (max-width: 768px) and (min-resolution: 1.5dppx) {
	@supports (object-fit: contain) {
		.mw-body-content div.thumbinner {
			width: 100% !important;
		}

		.mw-body-content div.thumbinner .thumbimage {
			width: 100%;
			max-height: 60vh;
			object-fit: contain;
		}
	}
}

/* Minimum thumb width */
figure[typeof~='mw:File/Thumb'],
figure[typeof~='mw:File/Frame'],
.thumbinner {
	min-width: 100px;
}

/* Parsoid Cite支持 */
a[rel='mw:referencedBy']::before {
	content: '^';
	font-weight: bold;
}

span[rel='mw:referencedBy']::before {
	content: '^ ';
}

span[rel='mw:referencedBy'] > a::before {
	content: counter(mw-references, decimal) '.' counter(mw-ref-linkback, decimal) !important;
	font-weight: bold;
}

.mw-ref > a[data-mw-group='upper-roman']::after {
	content: '[' counter(mw-Ref, upper-roman) ']';
}

.mw-ref > a[data-mw-group='lower-greek']::after {
	content: '[' counter(mw-Ref, lower-greek) ']';
}

.mw-ref > a[data-mw-group='lower-roman']::after {
	content: '[' counter(mw-Ref, lower-roman) ']';
}

.mw-ref > a[data-mw-group='lower-alpha']::after {
	content: '[' counter(mw-Ref, lower-alpha) ']';
}

.mw-ref > a[data-mw-group='upper-alpha']::after {
	content: '[' counter(mw-Ref, upper-alpha) ']';
}

/*黑幕啊*/

span.heimu a.external,span.heimu a.external:visited,span.heimu a.extiw,span.heimu a.extiw:visited {
    color: #252525
}
.heimu,.heimu a,a .heimu,.heimu a.new {
    background-color: #252525;
    color: #252525;
    text-shadow: none
}
body:not(.heimu_toggle_on) .heimu:hover,body:not(.heimu_toggle_on) .heimu:active,body:not(.heimu_toggle_on) .heimu.off {
    transition: color .13s linear;
    color: #fff
}
body:not(.heimu_toggle_on) .heimu:hover a,body:not(.heimu_toggle_on) a:hover .heimu,body:not(.heimu_toggle_on) .heimu.off a,body:not(.heimu_toggle_on) a:hover .heimu.off {
    transition: color .13s linear;
    color: #add8e6
}
body:not(.heimu_toggle_on) .heimu.off .new,body:not(.heimu_toggle_on) .heimu.off .new:hover,body:not(.heimu_toggle_on) .new:hover .heimu.off,body:not(.heimu_toggle_on) .heimu.off .new,body:not(.heimu_toggle_on) .heimu.off .new:hover,body:not(.heimu_toggle_on) .new:hover .heimu.off {
    transition: color .13s linear;
    color: #ba0000
}

/* 非本站跨站链接以绿色标记 */
.mw-parser-output a.extiw:not([href*='.zorua.top']) {
	color: #084;
}

.mw-parser-output a.extiw:not([href*='.zorua.top']):visited {
	color: #062;
}

/* 添加 tabber 首行缩进 */
.tabber__panel {
	text-indent: 2em;
}

/* </nowiki> */
