/**
 * SPDX-License-Identifier: CC BY-SA-4.0
 * _addText: '{{Gadget Header|license=CC-BY-SA-4.0}}'
 *
 * @base <https://www.mediawiki.org/wiki/MediaWiki:Gadget-whoisactive.css>
 * @source <https://git.qiuwen.wiki/InterfaceAdmin/Gadgets/src/branch/master/src/Gadgets/WhoIsActive>
 */
/* <nowiki> */
.mw-whoisactivegadget-span {
	overflow: hidden;
	padding: 0 0.5em;
	border: 1px solid #ddd;
	border-radius: 0.5em;
	margin: 0 0.5em;
	font-size: 13px;
	vertical-align: middle;
	white-space: nowrap;
}

.mw-whoisactivegadget-thisweek,
.mw-whoisactivegadget-thismonth {
	border-color: #14866d;
	color: #14866d;
}

.mw-whoisactivegadget-thisyear {
	border-color: #a60;
	color: #a60;
}

.mw-whoisactivegadget-overayear {
	border-color: #b32424;
	color: #b32424;
}

.mw-whoisactivegadget-filter-thisweek,
.mw-whoisactivegadget-filter-thismonth {
	-webkit-filter: invert(38%) sepia(99%) saturate(328%) hue-rotate(117deg) brightness(91%) contrast(99%);
	filter: invert(38%) sepia(99%) saturate(328%) hue-rotate(117deg) brightness(91%) contrast(99%);
}

.mw-whoisactivegadget-filter-thisyear {
	-webkit-filter: invert(47%) sepia(61%) saturate(4688%) hue-rotate(24deg) brightness(88%) contrast(101%);
	filter: invert(47%) sepia(61%) saturate(4688%) hue-rotate(24deg) brightness(88%) contrast(101%);
}

.mw-whoisactivegadget-filter-overayear {
	-webkit-filter: invert(13%) sepia(75%) saturate(3621%) hue-rotate(350deg) brightness(112%) contrast(86%);
	filter: invert(13%) sepia(75%) saturate(3621%) hue-rotate(350deg) brightness(112%) contrast(86%);
}

.client-darkmode .mw-whoisactivegadget-filter-thisweek,
.client-darkmode .mw-whoisactivegadget-filter-thismonth,
.client-darkmode .mw-whoisactivegadget-filter-thisyear,
.client-darkmode .mw-whoisactivegadget-filter-overayear {
	-webkit-filter: none;
	filter: none;
}

/* </nowiki> */
