/* <nowiki> */
/**
 * SPDX-License-Identifier: CC-BY-SA-4.0
 * _addText: '{{Gadget Header|license=CC-BY-SA-4.0|import=no}}'
 *
 * @source <https://github.com/TopRealm/InterfaceCodes/blob/master/src/Gadgets/Appearance/InterwikiTips>
 * @author Zorua-Fox and other Youshou Arxiv Contributors.
 */
/**
 * +--------------------------------------------------------+
 * |         === WARNING: GLOBAL GADGET FILE ===            |
 * +--------------------------------------------------------+
 * |      All changes should be made in the repository,     |
 * |              otherwise they will be lost.              |
 * +--------------------------------------------------------+
 * |      Changes to this page may affect many users.       |
 * |  Please discuss changes at talk page before editing.   |
 * +--------------------------------------------------------+
 */
 .mw-parser-output a.extiw:is([href*='.qiuwenbaike.cn'])::before ,
 .mw-parser-output a.extiw:is([href*='.moegirl.org.cn'])::before {
	font-weight: normal;
	line-height: 0;
	text-indent: 0.1em;
	vertical-align: super;
 }
 
 .mw-parser-output a.extiw:is([href*='.qiuwenbaike.cn'])::before {
	display: inline-block;
	font-size: 1.0em;
	width: 1.0em;
	height: 1.0em;
	margin-right: 0px;
	content: "";
 	background: url(//youshou.wiki/images/4/41/“求”网站图标（透明背景；2023版）.svg) no-repeat 0 0;
	background-size: 100%;
 }

 .mw-parser-output a.extiw:is([href*='.moegirl.org.cn'])::before {
	display: inline-block;
	font-size: 1.0em;
	width: 1.0em;
	height: 1.0em;
	margin-right: 0px;
	content: "";
 	background: url(//youshou.wiki/images/8/88/萌娘百科网站图标.svg) no-repeat 0 0;
	background-size: 100%;
 }
 
 /* </nowiki> */
