/* <nowiki> */
/**
 * SPDX-License-Identifier: CC-BY-SA-4.0
 * _addText: '{{Gadget Header|license=CC-BY-SA-4.0}}'
 *
 * @source <https://git.qiuwen.net.cn/InterfaceAdmin/Gadgets/src/branch/master/src/Gadgets/DisambigLinks>
 * @author Kaldari, Cyberpower678, Alexander Misel, Artoria2e5, WaitSpring <me@waitspring.com> and other Qiuwen Baike Contributors.
 */
/**
 * +--------------------------------------------------------+
 * |         === WARNING: GLOBAL GADGET FILE ===            |
 * +--------------------------------------------------------+
 * |      All changes should be made in the repository,     |
 * |              otherwise they will be lost.              |
 * +--------------------------------------------------------+
 * |      Changes to this page may affect many users.       |
 * |  Please discuss changes at talk page before editing.   |
 * +--------------------------------------------------------+
 */
a.mw-disambig::after,
a.mw-redirect::after {
	font-weight: normal;
	line-height: 0;
	text-indent: 0.1em;
	vertical-align: super;
}

a.mw-disambig::after {
	content: '⇄';
	font-size: 0.75em;
}

a.mw-redirect::after {
	content: '↳';
	font-size: 0.9em;
}

a.mw-disambig.mw-redirect::after {
	content: '⇄↳';
	font-size: 0.75em;
}

/* </nowiki> */
