/**
 * SPDX-License-Identifier: CC-BY-SA-4.0
 * _addText: '{{Gadget Header|license=CC-BY-SA-4.0}}'
 *
 * @base <https://zh.wikipedia.org/wiki/Special:Permalink/59753812>
 * @base <https://zh.wikipedia.org/wiki/MediaWiki:Gadget-ding.css>
 * @source <https://git.qiuwen.net.cn/InterfaceAdmin/Gadgets/src/branch/master/src/Gadgets/Ding>
 */
/**
 * +--------------------------------------------------------+
 * |         === WARNING: GLOBAL GADGET FILE ===            |
 * +--------------------------------------------------------+
 * |      All changes should be made in the repository,     |
 * |              otherwise they will be lost.              |
 * +--------------------------------------------------------+
 * |      Changes to this page may affect many users.       |
 * |  Please discuss changes at talk page before editing.   |
 * +--------------------------------------------------------+
 */
/* <nowiki> */
#ding button {
	box-sizing: border-box;
	padding: 0 0.7em;
	border: 0.2em solid #fff;
	border-radius: 9em;
	margin: 0 0.2em;
	background: 0 0;
	color: inherit;
	font-weight: inherit;
}

#ding button:active {
	background: rgba(255, 255, 255, 0.2);
}

.ding_inner {
	position: fixed;
	z-index: 9999;
	right: 0;
	bottom: 0;
	left: 0;
	width: 75%;
	height: auto;
	min-height: 3.75%;
	padding: 0.75em 1.5em;
	border-radius: 1em 1em 0 0;
	margin: 0 auto;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	font-size: 92.5%;
	font-weight: bold;
	line-height: 1.25em;
	opacity: 1;
	text-align: center;
	-webkit-transform: translateY(125%);
	-moz-transform: translateY(125%);
	-ms-transform: translateY(125%);
	-o-transform: translateY(125%);
	transform: translateY(125%);
	transition: all 0.2s;
	word-break: break-word;
}

/* Font and background colors */
.ding_default {
	background-color: #eaecf0;
	color: #000;
}

.ding_info,
.ding_success,
.ding_warning {
	color: #fff;
}

.ding_info {
	background-color: #36c;
}

.ding_success {
	background-color: #00af89;
}

.ding_warning {
	background-color: #b32424;
}

.ding_inner a,
.ding_inner a:visited,
.ding_inner a:hover {
	color: #f4ff7f !important;
}

/* Avoid overlapping the blue bar with the limited width control */
@media all and (min-width: 1000px) {
	.ding_inner {
		width: 800px !important;
		margin: auto !important;
	}
}

/* </nowiki> */
