/* <nowiki> */
/**
 * SPDX-License-Identifier: CC-BY-SA-4.0
 * _addText: '{{Gadget Header|license=CC-BY-SA-4.0}}'
 */
/* 这里放置的CSS将影响使用Gongbi皮肤的用户 */
/* 隐去Logo */
.mw-wiki-logo.fallback {
	height: 0 !important;
}

#p-logo {
	display: none !important;
}

@media (min-width: 1440px) {
	.ns-0 .mw-body-content .mw-parser-output > .content-table-wrapper {
		margin-right: 0 !important;
	}
}

/**
 * Page-specific rules
 */

/* </nowiki> */
