name: Sync Mediawiki Interface Codes

on:
  push:
    branches:
      - master
    paths:
      - src/*.js
      - src/*.css

jobs:
  sync_gadgets:
    runs-on: ubuntu-latest
    env:
      MW_BOT_PASSWORD: ${{ secrets.MW_BOT_PASSWORD }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          cache: 'pip'
      - name: sync
        run: python scripts/sync_mediawiki.py
